body {
    font-family: Arial;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.app {
    width: 450px;
    background: white;
    padding: 25px;
    border-radius: 12px;
}

li {
    list-style: none;
    background: #e9ecef;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
}

.done {
    text-decoration: line-through;
    background: #c3f7c3;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
}